@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --color-primary: #B60088;
  --color-secondary: #FF6ACE;
  --color-extra: #FFD8EB;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.4;
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin: 5px 0;
  line-height: 1.7;
}

img {
  max-width: 100%;
}

/* Footer */
.footer-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px 30px;
}

/* Backgrounds */
.bg-primary {
  background-color: var(--color-primary);
  color: #fff;
}
.bg-secondary {
  background-color: var(--color-secondary);
  color: #fff;
}
.bg-extra {
  background-color: var(--color-extra);
  color: #000;
}
.bg-dark {
  background-color: var(--color-dark);
  color: #000;
}

/* Text Styling */
.text-center {
  text-align: center;
}
.text-xl {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 600;
  margin-bottom: 20px;
}
.text-lg {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.text-md {
  font-size: 24px;
  margin-bottom: 20px;
}
.text-sm {
  font-size: 19px;
  margin-bottom: 20px;
}

/* Padding */
.py-sm {
  padding: 10px 0;
}
.py-md {
  padding: 20px 0;
}
.py-lg {
  padding: 40px 0;
}

